.jobdetails {
    margin-top: 123.5px;
}

.navLink {
    margin-top: 50px;
}

.navLink a {

    font-weight: 500;
}

.arrow {
    padding: 0 10px;
}

.jobTitle {
    font-size: 29px;
    padding-top: 20px;
    font-weight: 700;

}

.separate {
    margin-top: 20px;
    height: 1px;
    background-color: #eaeaec;
}

.image {
    width: auto;
    height: 400px;
    margin-top: 50px;
}

.right_container {
    display: flex;
    justify-content: flex-end;
}



.purchase {
    margin-top: 50px;
    width: 400px;
    height: 180px;
    border-style: solid;
    border-color: #eaeaec;
    border-width: 1px;
    padding: 20px;
}

.price_section {
    display: flex;
    justify-content: space-between;
}

.price_section h4 {
    line-height: 52px;
}

.price {
    color: var(--main-color);
    font-size: 35px;
    font-weight: 600;

}

.purchase_btn {
    width: 100%;
    height: 40px;
    background-color: var(--main-color);
    color: white;
    font-weight: 600;
    font-size: 17px;
    border: none;
    outline: none;
    border-style: solid;
    border-radius: 5px;
    transition: all 0.3s linear;
    margin-top: 20px;
}

.purchase_btn:hover {
    border-width: 2px;
    color: var(--main-color);
    background-color: white;
    border-color: var(--main-color);
}